# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
/.idea.Project.iml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Rezay\Documents\GitHub\BAZOIN_CIRET_OLIVEIRA_3ADJV_PROGGAMEPLAY\Project\.idea\.idea.Project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
