# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.BAZOIN_CIRET_OLIVEIRA_3ADJV_PROGGAMEPLAY.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../:\Unity\BAZOIN_CIRET_OLIVEIRA_3ADJV_PROGGAMEPLAY\.idea\.idea.BAZOIN_CIRET_OLIVEIRA_3ADJV_PROGGAMEPLAY\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
